@page
@using ClassLibrary.Classes.Item;
@model GymProject.Pages.ProductModel
@{
	ViewData["Title"] = "Product";
}
<div>
    <div class="row">
        <div class="col-md-3 order-2 order-md-1">
            <form method="post" asp-page-handler="search">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchQuery" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-7 order-1 order-md-2">
            <form method="post">
                <select name="sort">
                    <option selected disabled>Select filter</option>
                    <option value="lowToHigh">Low to High</option>
                    <option value="highToLow">High to Low</option>
                </select>
                <button type="submit">Apply Filter</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-between">
        @{
            if (Model.Supplements == null || Model.Programs == null)
            {
                <p>No items found.</p>
            }
            else if (Model.Supplements.Count == 0 && Model.Programs.Count == 0)
            {
                <p>No items found.</p>
            }
            else
            {
                try
                {
                    if (Model.Supplements.Count > 0)
                    {
                        <h1>Supplements</h1>
                        foreach (var supplement in Model.Supplements)
                        {
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" id="supplement">
                                <div class="card">
                                    <img class="card-img-top" src="~/images/products/trenbolone.jpg" alt="@supplement.ItemName">
                                    <div class="card-body">
                                        <h5 class="card-title">@supplement.ItemName</h5>
                                        <p class="card-text">@supplement.ItemDescription</p>
                                        <p class="card-text">@supplement.ItemPrice.ToString("$0.00")</p>
                                        <a asp-page="ShoppingCart" asp-page-handler="buy", asp-route-id ="@supplement.ItemId" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <hr style="border: 5px solid #000; margin: 20px 0;">
                    <h1>Programs</h1>
                    if (Model.Programs.Count > 0)
                    {
                        foreach (var program in Model.Programs)
                        {
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" id="program">
                                <div class="card">
                                    <img class="card-img-top" src="~/images/ProgramGym.PNG" alt="@program.ItemName">
                                    <div class="card-body">
                                        <h5 class="card-title">@program.ItemName</h5>
                                        <p class="card-text">@program.ItemDescription</p>
                                        <p class="card-text">@program.ItemPrice.ToString("$0.00")</p>
                                        <a asp-page="ShoppingCart" asp-page-handler="buy" , asp-route-id="@program.ItemId" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                catch (Exception ex)
                {
                    <p>An error occurred while displaying items: @ex.Message</p>
                }
            }
        }
        <div class="col-12 row">
            <h1>Items you have bought a lot</h1>
            @if (Model.MostBoughtItems != null && Model.MostBoughtItems.Count > 0)
            {
                foreach (var item in Model.MostBoughtItems.GroupBy(i => i.ItemId).Select(g => g.First()).Take(3))
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" id="most-bought-item">
                        <div class="card">
                            <img class="card-img-top" src="~/images/products/trenbolone.jpg" alt="@item.ItemName">
                            <div class="card-body">
                                <h5 class="card-title">@item.ItemName</h5>
                                <p class="card-text">@item.ItemDescription</p>
                                <p class="card-text">@item.ItemPrice.ToString("$0.00")</p>
                                <a asp-page="ShoppingCart" asp-page-handler="buy" asp-route-id="@item.ItemId" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No items previously bought found</p>
            }
        </div>
    </div>
</div>

